{% extends 'base.html' %}
{% load widget_tweaks %}
{% block menu %}
    <a href="{% url 'webapp:projects' %}">Проекты</a>
    <a href="{% url 'webapp:statuses' %}">Статусы</a>
    <a href="{% url 'webapp:types' %}">Типы</a>
    <a href="{% url 'accounts:users' %}">Пользователи</a>
{% endblock %}
{% block content %}
    {% include 'partial/search_form.html' %}
    <h1>Задачи</h1>
    {% for issue in issues %}
        {% include 'issue/issue_list.html' %}
    {% endfor %}
    {% include 'partial/paginator.html' %}
{% endblock %}