{% extends 'base.html' %}
{% block menu %}
    {% if can_edit %}
        {% if perms.webapp.change_issue %}
    <li><a href="{% url 'webapp:issue_update' issue.pk %}">Редактировать эту задачу</a></li>
    {% endif %}
        {% if perms.webapp.delete_issue %}
            <li><a href="{% url 'webapp:issue_delete' issue.pk %}">Удалить эту задачу</a></li>
    {% endif %}
        {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
                <div class="left col-10 d-flex justify-content-center">
                    <h5>{{ issue.summary }}</h5>
                </div>
            </div>
    <div class="row my-5">
                <div class="left col-10 d-flex justify-content-center">
                    <h5>{{ issue.description }}</h5>
                </div>
            </div>
        <div class="row">
        <p class="text col-6">Тип задачи:{{ issue.type }}</p>
            <p class="text col-6">Статус задачи:{{ issue.status }}</p>
        </div>
        <p>Дата создания: {{ issue.created_at|date:'Y-m-d H:i:s' }}</p>
{% endblock %}