{% extends 'base.html' %}
{% load widget_tweaks %}
{% block menu %}
    {% if perms.webapp.add_project %}
    <li><a href="{% url 'webapp:project_create' %}">Создать проект</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Трекер проектов</h1>
    {% include 'partial/search_form.html' %}
    <div class="row">
        <div class="col-6 w-100">
            <h3>Открытые проекты</h3>
            {% for project in active_projects %}
                {% include 'project/project_list.html' %}
            {% endfor %}
        </div>
        <div class="col-6">
            <h3>Закрытые проекты</h3>
        {% for project in closed_projects %}
            {% include 'project/project_list.html' %}
        {% endfor %}
        </div>
    </div>
{% endblock %}