{% extends 'base.html' %}
{% load widget_tweaks %}
{% block menu %}
    <li><a href="{% url 'webapp:project_create' %}">Создать</a></li>
{% endblock %}
{% block content %}
    <h1>Проекты</h1>
    {% include 'partial/search_form.html' %}
    <div>
        <div>
            {% for project in active_projects %}
            <h3>Статус: Активный</h3>
                {% include 'project/project_list.html' %}
            {% endfor %}
        </div>
        <div>
        {% for project in closed_projects %}
            <h3>Статус: Завершенный</h3>
            {% include 'project/project_list.html' %}
        {% endfor %}
        </div>
    </div>
{% endblock %}