<div class="object">
            <div>
                {% if project.status == 'active' %}
                    {% if project in editable_projects%}
                        <div>
                    <h5><a href="{% url 'webapp:project_view' project.pk %}">{{ project.name }}</a></h5>
                </div>
                <div>
                {% if perms.webapp.add_issue %}
                    <p><a href="{% url 'webapp:issue_create' project.pk %}" class="create">Создать Задачу</a></p>
                    {% endif %}
                {% if perms.webapp.change_project %}
                    <p><a href="{% url 'webapp:project_update' project.pk %}" class="update">Редактировать Проект</a></p>
                    {% endif %}
                {% if perms.webapp.delete_project %}
                    <p><a href="{% url 'webapp:project_delete' project.pk %}" class="delete">Удалить Проект</a></p>
                    {% endif %}
                        </div>
                        {% else %}
                         <div>
                    <h5><a href="{% url 'webapp:project_view' project.pk %}">{{ project.name }}</a></h5>
                </div>
                {% endif %}
                    {% else %}
                    <div>
                    <h5>{{ project.name }}</h5>
                    </div>

                {% endif %}
            </div>
        <div>
        <p>Дата создания: {{ project.created_at|date:'Y-m-d H:i:s' }}</p>
            <p>Дата изменения: {{ project.updated_at|date:'Y-m-d H:i:s' }}</p>
        </div>
        </div>